@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Croissant One', 'Libre Baskerville', 'Lobster', serif, sans-serif;
}
/* start style header  */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.logo{
    width: 30%;
    color: #b74b4b;
    font-weight: 800;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
nav{
    width: 40%;
}
nav ul {
    list-style: none; 
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
nav ul li:hover ,
li.active{
    border-bottom: 3px solid #b74b4b;
    color: #b74b4b;
}
/* end style header  */

/* start style home */
.home{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}
.img-home img {
    width: 500  px;
    height: 700px;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    position: relative;
    z-index: 6;
}
.text-home{
    display: flex;
   flex-direction: column;
   gap: 20px;
    position: relative;
}
.text-home h2{
    font-size: 60px;
    color: white;
}
.text-home h2 span{
    color: #b74b4b ;
}
.text-home h3 {
    font-size: 40px;
    color: white;
    position: relative;
}
.text-home p {
    width: 700px;
    color: #ffffff;
}
.text-home h3  span{
    position: relative;
}
.text-home h3 span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}
@keyframes words {

    0%,
    20% {
        content: "Web Developer";
    }
    21%,
    40% {
        content: "Front-end";
    }
    41%,
    60% {
        content: "Back-end";
    }
    61%,
    80% {
        content: "Full full stack developer";
    }
    81%,
    100% {
        content: "Web Designe";
    }
}
.social-icons i{
    border: #b74b4b solid 2px;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
    color: #b74b4b;
    font-size: 20px;
}
.social-icons i:hover{
    border: transparent;
    background-color: #b74b4b;
    color: black;
}
.text-home a{
    text-decoration: none;
    color: #b74b4b;
    border-radius: 20px;
    border: #b74b4b 2px solid;
    width: 120px;
    text-align: center;
    padding: 8px;
    transition: 0.3 ease;
}
.text-home a:hover{
    border: transparent;
    background-color: #b74b4b;
    color: black;
}

/* end style home  */